<div>
    <h1>Here Your destiny</h1>
</div>

{{#each destiny as |destiny|}}
<div>
    <div>
        <img src='{{destiny.image}}'>
    </div>
    <div>
        <h2>{{destiny.name}}</h2>
    </div>
    <div>
        <p>Distance: {{destiny.distance}}</p>
    </div>
    <div>
        <p>Journey: {{destiny.journey}}</p>
    </div>
</div>

{{/each}}