<div>
    <h1>Here Your destiny</h1>
</div>

{{#each destiny}}
<div class='aligner'>
    <div>
        <img src='{{destiny.image}}'>
    </div>
    <div>
        <h2>{{destiny.name}}</h2>
    </div>
    <div>
        <p>{{destiny.distance}}</p>
    </div>
    <div>
        <p>{{destiny.journey}}</p>
    </div>
</div>

{{/each}}