<div class='aligner'>
<h1>Where do you want to go?</h1>
</div>

<div class='aligner'>
    <form>
        <button class='choose'>I don't give a shit</button>
    </form>
    <form action='destiny/destinyDetail' >
        <button class='choose'>As far as possible</button>
    </form>
</div>
